:root {
  --margin: 17%;
}
@media (max-width: 1450px) {
  :root {
    --margin: 5%;
  }
}
@media (max-width: 900px) {
  .imagenes {
    flex-direction: column;
  }
}

/** BOTONES **/
.login, .register, .compra {
  border: 2px solid hsl(250 40% 80%);
  border-radius: 5px;
  padding: 0.3em 0.8em;
}
.register, .compra{
  background-color: var(--clr-prim-2);
}
.compra {
  display: inline-block;
  font-size: 1.9rem;
  margin-top: 1rem;
  color: white;
}

/** HEADER **/
header, nav {
  width: 100%;
  background-color: var(--clr-prim-1);
}
header {
  text-align: center;
  position: sticky;
  top: 0px;
}
header {
  font-size: 1.9rem;
}
header h1 {
  display: inline;
  font-size: 3.5rem;
}
nav {
  display: none;
  text-align: right;
  position: absolute;
  top: 100%;
}
nav li, .login, .register {
  margin-block: 1em;
}
nav li {
  list-style: none;
  margin-right: 2em;
}
.toggle {
  display: none;
}
.toggle:checked ~ nav {
  display: block;
}
.toggle_label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
}
.toggle_label span,
.toggle_label span::before,
.toggle_label span::after {
  display: block;
  background-color: white;
  width: 1.3em;
  height: 2px;
  border-radius: 2px;
}
.toggle_label span::before,
.toggle_label span::after {
  content: '';
  position: absolute;

}
.toggle_label span::before {
  top: 16px;
}
.toggle_label span::after {
  bottom: 16px;
}
@media screen and (min-width: 1080px) {
  .toggle_label {
    display: none;
  }
  header, nav ul {
    display: flex;
    align-items: center;
  }
  .logo, nav {
    margin-block: 1rem;
  }
  .logo {
    margin-left: var(--margin);
  }
  nav {
    display: inline-block;
    position: static;
    margin-right: var(--margin);
    flex-grow: 1;
  }
  nav li:nth-of-type(1) {
    margin-left: auto;
  }
}

/** MAIN **/
section {
  margin: 5.5rem var(--margin);
}
h1 {
  font-size: 3rem;
  margin-block: 1.5rem;
}
.barra {
  height: 3px;
  width: 100%;
  background-color: var(--clr-text);
}
.imagenes {
  display: flex;
  gap: 5%
}
.imagenes figure {
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  margin-top: 2.5rem;
}
.imagenes figure img {
  width: 100%;
}
figcaption {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

#comunidad {
  font-size: 1.7rem;
}
#comunidad a {
  color: var(--clr-prim-1);
}
#comunidad .descripcion {
  margin-block: 2rem;
}

/** FOOTER **/
footer, .redes {
  display: flex;
}
footer {
  font-size: 1.5rem;
  background-color: var(--clr-prim-2);
  flex-direction: column;
}
footer img {
  width: 40px;
  margin-inline: 2.7rem;
}
.redes {
  justify-content: center;
  padding-block: 4rem;
}
address, small {
  text-align: center;
  padding-bottom: 1.25em;
}